<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items" *ngIf="!isLoggedIn(); else loggedInMenu">
    <a mat-button routerLink="auth/login" routerLinkActive="active">Log in</a>
    <a
      mat-button
      mat-raised-button
      routerLink="auth/register"
      routerLinkActive="active"
      >Register</a
    >
  </span>
  <ng-template #loggedInMenu>
    <span class="nav-tool-items">
      <a mat-button mat-raised-button (click)="logout()">Log out</a>
    </span>
  </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>
